{% extends 'base.html' %}

{% block content %}
    <div class="container_20">
        <div class="anketa_list">
            <div class="grid_18 prefix_1 suffix_1">
                <h2>Результаты поиска</h2>
            </div>
            <div class="clear"></div>
            {% for announcement in announcements %}
                <div class="grid_18 prefix_1 suffix_1">
                    <div class="element">
                        <div class="grid_4 alpha">
                            <a href="">
                                {% if announcement.main_photo %}
                                    <img src="/media/images/{{ announcement.main_photo }}_medium.jpg">
                                {% else %}
                                    <img src="/static/i/estage-no-photo-small.png">
                                {% endif %}
                            </a>
                        </div>
                        <div class="grid_9 suffix_1">
                            <div class="main">
                                <div class="adr">
                                    <dl>
                                        <dd>г. {{ announcement.building.street.city }}</dd>
                                        <dd> ул. {{ announcement.building.street }} - {{ announcement.building }}</dd>
                                    </dl>
                                </div>
                                <div class="clear"></div>
                                {% if announcement.type_a %}
                                    <h3><a href="/rent/{{ announcement.building_type.eng_name }}/{{ announcement.id }}/">{{ announcement.subject }}</a></h3>
                                {% else %}
                                    <h3><a href="/sell/{{ announcement.building_type.eng_name }}/{{ announcement.id }}/">{{ announcement.subject }}</a></h3>
                                {% endif %}
                                <p>{{ announcement.description }}</p>
                            </div>
                        </div>
                        <div class="grid_4 omega">
                            <div class="price">
                                <div class="sum">
                                    {% if announcement.price %}
                                        {% if announcement.price_currency == 0 %}
                                            {{ announcement.price }} руб.
                                        {% elif announcement.price_currency == 1 %}
                                            &#36;{{ announcement.price }}
                                        {% elif announcement.price_currency == 2 %}
                                            &#8364;{{ announcement.price }}
                                        {% endif %}
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </div>
                                <div class="param">
                                    <dl>
                                        {% if announcement.square %}
                                            <dt>Общая площадь</dt>
                                            <dd>{{ announcement.square }}<span>м<sup>2</sup></span></dd>
                                        {% endif %}
                                        {% if announcement.room_count %}
                                            <dt>Комнат</dt>
                                            <dd>{{ announcement.room_count }}</dd>
                                        {% endif %}
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}