{% extends 'base.html' %}

{% block title %}{{ announcement.subject }}{% endblock %}

{% block content %}
    {% if auth %}
        <a>Редактировать</a>
    {% endif %}
    <div class="container_20">
        <div class="anketa">
            <div class="grid_11 prefix_1 suffix_1">
                <h1>
                    <span>г. {{ announcement.building.street.city }} ул. {{ announcement.building.street }} - {{ announcement.building }}</span><br>
                    {{ announcement.subject }}
                </h1>
                <div class="photo_out">
                    <div class="photo">
                        {% if photos %}
                            <img id="imgMain" class="active" src="/media/images/{{ announcement.main_photo }}_big.jpg">
                        {% else %}
                            <img id="imgMain" class="active" src="/static/i/estage-no-photo-big.png">
                        {% endif %}
                    </div>
                    {% for photo in photos %}
                        <div class="fav">
                            <a class="img_wrap" href="/media/images/{{ photo.filename }}_big.jpg" onclick="galleryViewImage(this); return false;">
                                <img src="/media/images/{{ photo.filename }}_small.jpg" alt="{{ announcement.subject }}" title="{{ announcement.subject }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="clear"></div>
                <br>
                <p>{{ announcement.description }}</p>
                <div class="param_osn">
                    <div class="exFormOut">
                        {% for group in fields %}
                        <h3 id="h3_group_{{ group.group_name }}">{{ group.caption }}</h3>
                        <dl id="dl_{{ group.group_name }}">
                            {% for field in group.fields %}
                                {% if field.type == "set" %}
                                    <dt>{{ field.caption }}</dt>
                                    <dd>
                                        {% if field.values|length == 1 %}
                                            {{ field.value }}
                                        {% else %}
                                            <ul>
                                            {% for value in field.values %}
                                                <li>{{ value.caption }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </dd>
                                {% elif field.type == "bool" and field.value %}
                                    <dt class="bool">{{ field.caption }}</dt>
                                    <dd class="bool">&nbsp;</dd>
                                {% elif field.value %}
                                    <dt>{{ field.caption }}</dt>
                                    <dd>{{ field.value }}</dd>
                                {% endif %}
                            {% endfor %}
                        </dl>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
            <div class="grid_6 suffix_1">
                <div class="sub_info">
                    <div class="price">
                        <p>
                            {% if announcement.price_currency == 0 %}
                                {{ announcement.price }} руб.
                            {% elif announcement.price_currency == 1 %}
                                &#36;{{ announcement.price }}
                            {% elif announcement.price_currency == 2 %}
                                &#8364;{{ announcement.price }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="stat">
                        <dl>
                            <dt><span>Номер анкеты</span></dt><dd>{{ announcement.id }}</dd>
                            <dt><span>Просмотров анкеты</span></dt><dd>{{ announcement.views }}</dd>
                            <dt><span>Дата обновления</span></dt><dd>{{ announcement.creation_date|date:"d.m.Y" }}</dd>
                        </dl>
                    </div>
                </div>
                <h2>Контактная информация</h2>
                <div class="manager">
                    <dl>
                        <dt><span>Разместил</span></dt><dd>{{ announcement.manager_fio }}</dd>
                        {% if announcement.manager_telephone|length %}
                            <dt><span>Телефон</span></dt><dd>{{ announcement.manager_telephone }}</dd>
                        {% endif %}
                        {% if announcement.manager_mobile|length %}
                            <dt><span>Мобильный</span></dt><dd>{{ announcement.manager_mobile }}</dd>
                        {% endif %}
                        {% if announcement.manager_email|length %}
                            <dt><span>Почта</span></dt><dd><a href="mailto:{{ announcement.manager_email }}">{{ announcement.manager_email }}</a></dd>
                        {% endif %}
                        {% if announcement.manager_icq %}
                            <dt><span>ICQ</span></dt><dd>{{ announcement.manager_icq }}</dd>
                        {% endif %}
                        {% if announcement.manager_skype %}
                            <dt><span>Skype</span></dt><dd>{{ announcement.manager_skype }}</dd>
                        {% endif %}
                    </dl>
                </div>
                <h2>Местоположение</h2>
                <dl>
                    <dt><span>Область</span></dt>
                    <dd>{{ announcement.building.street.city.area }}</dd>
                    {% if announcement.region %}
                        <dt><span>Район</span></dt>
                        <dd>{{ announcement.region }}</dd>
                    {% endif %}
                    <dt><span>Город</span></dt>
                    <dd>{{ announcement.building.street.city }}</dd>
                    <dt><span>Улица</span></dt>
                    <dd>ул. {{ announcement.building.street }}</dd>
                    <dt><span>Дом/Строение</span></dt>
                    <dd>{{ announcement.building }}</dd>
                </dl>
                <!-- карта яндекс -->
                <!--
                <script type="text/javascript">
                    YMaps.jQuery ( function ( ) {
                        var map = new YMaps.Map(YMaps.jQuery("#divYMapsID")[0]);
                        map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 14);
                        var geocoder = new YMaps.Geocoder('Раменское, ул. чугунова, 111', {results: 1, boundedBy: map.getBounds()});
                        YMaps.Events.observe(geocoder, geocoder.Events.Load, function () {
                            if (this.length()) {
                                map.addOverlay(this.get(0));
                                map.addControl(new YMaps.Zoom());
                                map.addControl(new YMaps.ToolBar());
                                map.panTo(this.get(0).getGeoPoint());
                            }else{
                                //alert("не найдено");
                            }
                        });
                        YMaps.Events.observe(geocoder, geocoder.Events.Fault, function (geocoder, error) {
                            //alert("Произошла ошибка: " + error.message)
                        });
                    });
                </script>
                -->
            </div>
        </div>
    </div>
{% endblock %}