{% extends 'base.html' %}

{% block content %}
            <div class="container_20">
                <div class="information_msg">
                    {% if information %}
                        {{ information }}
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
            <div class="a_list_wrap">
                <table class="a_list">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Клиент</td>
                            <td>Город</td>
                            <td>Цена</td>
                            <td>Тип</td>
                            <td>Комнаты</td>
                            <td>Площадь</td>
                            <td>Этаж</td>
                            <td>Адрес</td>
                            <td>Комисия</td>
                            <td>Описание</td>
                            <td>Дата создания</td>
                            <td>Менеджер</td>
                            <td>Дата звонка</td>
                            <td>Статус</td>
                            <td>Фото</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for announcement in announcements %}
                        <tr>
                            <td>{{ announcement.id }}</td>
                            <td>{{ announcement.client_fio }}</td>
                            <td>{{ announcement.building.street.city }}</td>
                            <td>{{ announcement.price }}</td>
                            <td>{{ announcement.building_type }}</td>
                            <td>{% if announcement.room_count %}{{ announcement.room_count }}{% endif %}</td>
                            <td>{% if announcement.square %}{{ announcement.square }}{% endif %}</td>
                            <td>{% if announcement.floor %}{{ announcement.floor }}{% endif %}</td>
                            <td><a href="/{% if announcement.type_a == 0 %}sell{% else %}rent{% endif %}/{{ announcement.building_type.eng_name }}/{{ announcement.id }}/">{{ announcement }}</a></td>
                            <td>{{ announcement.commission }}</td>
                            <td>{{ announcement.description }}</td>
                            <td>{{ announcement.creation_date|date:"d.m.Y" }}</td>
                            <td>{{ announcement.manager_fio }}</td>
                            <td>{{ announcement.call_date|date:"d.m.Y" }}</td>
                            {% if announcement.status == 1 %}
                                <td>Активно</td>
                            {% elif announcement.status == 2 %}
                                <td>Продано/сдано</td>
                            {% elif announcement.status == 0 %}
                                <td>Неактивно</td>
                            {% endif %}
                            <td>{% if announcement.main_photo|length %}Есть{% else %}&ndash;{% endif %}</td>
                            <td>
                                <a href="/manage/announcements/edit/{{ announcement.id }}/">ред.</a><br>
                                <a href="/manage/announcements/delete/{{ announcement.id }}/">удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}