{% extends 'base.html' %}

{% block content %}
    <form action="/manage/announcements/p_delete/{{ announcement.id }}/" method="post">
        {% csrf_token %}
        <span>Вы действительно хотите удалить "{{ announcement.subject }}"?</span>

        <input type="submit" value="Удалить">
    </form>
{% endblock %}