{% extends 'base.html' %}

{% block title %}Редактирование анкеты{% endblock %}

{% block content %}
    <div class="container_20">
        <div class="grid_12 prefix_1 suffix_1">
            <form id="form_edit_announcement" class="form_edit_announcement" method="post">
                {% csrf_token %}
                <input type="hidden" name="announcement_id" value="{{ announcement.id }}">
                <h3>Основное</h3>
                <table>
                    <tr>
                        <td>ФИО*:</td>
                        <td><input type="text" name="manager_fio" value="{{ announcement.manager_fio }}"></td>
                    </tr>
                    <tr>
                        <td>Телефон*:</td>
                        <td><input type="text" name="manager_telephone" value="{{ announcement.manager_telephone }}"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" name="manager_email" value="{{ announcement.manager_email }}"><br></td>
                    </tr>
                    <tr>
                        <td>Тема*:</td>
                        <td><input type="text" name="subject" value="{{ announcement.subject }}">(к примеру: «Продам 3-х комнатную квартиру, 95/71/24»)</td>
                    </tr>
                    <tr>
                        <td>Описание*:</td>
                        <td><textarea cols="80" rows="20" name="description">{{ announcement.description }}</textarea></td>
                    </tr>
                    <tr>
                        <td>Статус:</td>
                        <td>
                            <select name="status">
                                <option {% if announcement.status == 1 %}selected="selected"{% endif %} value="1">Активно</option>
                                <option {% if announcement.status == 2 %}selected="selected"{% endif %} value="2">Продано/сдано</option>
                                <option {% if announcement.status == 0 %}selected="selected"{% endif %} value="0">Неактивно</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип анкеты:</td>
                        <td>
                            <select name="type_a">
                                <option {% if announcement.type_a == 0 %}selected="selected"{% endif %} value="0">Продажа</option>
                                <option {% if announcement.type_a == 1 %}selected="selected"{% endif %} value="1">Аренда</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип недвижимости*:</td>
                        <td>
                            <select name="building_type">
                                <option value="">---</option>
                                {% for building_type in building_types %}
                                    <option {% if building_type.id == announcement.building_type.id %}selected="selected"{% endif %} value="{{ building_type.id }}">{{ building_type }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>

                <h3>Расположение*</h3><br>
                <table>
                    <tr>
                        <td>Страна:</td>
                        <td>
                            <select name="country">
                                <option value="">---</option>
                                {% for country in countries %}
                                    <option {% if country.id == announcement.building.street.city.area.district.country.id %}selected="selected"{% endif %} value="{{ country.id }}">{{ country }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_country" maxlength="50">
                            <input class="form_new_item" type="button" action="new_country" value="+">
                        </td>
                    </tr>
                    <tr>
                        <td>Округ:</td>
                        <td>
                            <select name="district">
                                <option value="">---</option>
                                {% for district in districts %}
                                    <option {% if district.id == announcement.building.street.city.area.district_id %}selected="selected"{% endif %} value="{{ district.id }}">{{ district }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_district" maxlength="50">
                            <input class="form_new_item" type="button" action="new_district" value="+">
                        </td>
                    </tr>
                    <tr>
                        <td>Область:</td>
                        <td>
                            <select name="area">
                                <option value="">---</option>
                                {% for area in areas %}
                                    <option {% if area.id == announcement.building.street.city.area.id %}selected="selected"{% endif %} value="{{ area.id }}">{{ area }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_area" maxlength="50">
                            <input class="form_new_item" type="button" action="new_area" value="+">
                        </td>
                    </tr>
                    <tr>
                        <td>Район области:</td>
                        <td>
                            <select name="region">
                                <option value="">---</option>
                                {% for region in regions %}
                                    <option {% if region.id == announcement.region.id %}selected="selected"{% endif %} value="{{ region.id }}">{{ region }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_region" maxlength="50">
                            <input class="form_new_item" type="button" action="new_region" value="+">
                        </td>
                    </tr>
                    <tr>
                        <td>Город/населенный пункт:</td>
                        <td>
                            <select name="city">
                                <option value="">---</option>
                                {% for city in cities %}
                                    <option {% if city.id == announcement.building.street.city.id %}selected="selected"{% endif %} value="{{ city.id }}">{{ city }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_city" maxlength="50">
                            <input class="form_new_item" type="button" action="new_city" value="+">
                        </td>
                    </tr>
                    <tr>
                        <td>Район города:</td>
                        <td>
                            <select name="cityregion">
                                <option value="">---</option>
                                {% for city_region in city_regions %}
                                    <option {% if city_region.id == announcement.city_region.id %}selected="selected"{% endif %} value="{{ city_region.id }}">{{ city_region }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_cityregion" maxlength="50">
                            <input class="form_new_item" type="button" action="new_cityregion" value="+">
                        </td>
                    </tr>
                    <tr>
                        <td>Улица:</td>
                        <td>
                            <select name="street">
                                <option value="">---</option>
                                {% for street in streets %}
                                    <option {% if street.id == announcement.building.street.id %}selected="selected"{% endif %} value="{{ street.id }}">{{ street }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_street" maxlength="50">
                            <input class="form_new_item" type="button" action="new_street" value="+">
                        </td>
                    </tr>
                    <tr>
                        <td>Дом/строение:</td>
                        <td>
                            <select name="building">
                                <option value="">---</option>
                                {% for building in buildings %}
                                    <option {% if building.id == announcement.building.id %}selected="selected"{% endif %} value="{{ building.id }}">{{ building }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="new_building" maxlength="50">
                            <input class="form_new_item" type="button" action="new_building" value="+">
                        </td>
                    </tr>
                </table>

                <h3>Стоимость</h3>
                <table>
                    <tr>
                        <td>Стоимость</td>
                        <td><input type="text" value="{{ announcement.price }}" name="price"></td>
                    </tr>
                    <tr>
                        <td>Валюта</td>
                        <td>
                            <select name="price_currency">
                                <option {% if announcement.price_currency == 0 %}selected="selected"{% endif %} value="0">RUB</option>
                                <option {% if announcement.price_currency == 1 %}selected="selected"{% endif %} value="1">$</option>
                                <option {% if announcement.price_currency == 2 %}selected="selected"{% endif %} value="2">&euro;</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <h3>Дополнительные поля</h3>
                <div id="form_additional_fields">
                    {% for group in fields %}
                        <h3 id="h3_group_{{ group.group_name }}">{{ group.caption }}</h3>
                        <dl id="fields_group_{{ group.group_name }}">
                            {% for field in group.fields %}
                                {% if field.type == "set" %}
                                    <dt>{{ field.caption }}:</dt>
                                    <dd>&nbsp;<input type="hidden" name="field_{{ group.group_name }}_{{ field.name }}"></dd>
                                    {% for value in field.values %}
                                        <dt>{{ value.caption }}</dt>
                                        <dd><input type="checkbox" {% if value.value %}checked="checked"{% endif %} name="option_{{ group.group_name }}_{{ field.name }}_{{ value.name }}"></dd>
                                    {% endfor %}
                                {% elif field.type == "bool" %}
                                    <dt>{{ field.caption }}</dt>
                                    <dd><input type="checkbox" {% if field.value %}checked="checked"{% endif %} name="field_{{ group.group_name }}_{{ field.name }}"></dd>
                                {% elif field.type == "enum" %}
                                    <dt>{{ field.caption }}</dt>
                                    <dd>
                                        <select>
                                            <option value="">---</option>
                                            {% for option in field.values %}
                                                <option {% if option.value == field.value %}selected="selected"{% endif %} value="{{ option.value }}">{{ option.caption }}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                {% else %}
                                    <dt>{{ field.caption }}</dt>
                                    <dd><input type="text" name="field_{{ group.group_name }}_{{ field.name }}" value="{{ field.value }}"></dd>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    {% endfor %}
                </div>

                <h3>Клиент</h3>
                <table>
                    <tr>
                        <td>Телефон</td>
                        <td><input type="text" name="client_telephone" value="{{ announcement.client_telephone }}"></td>
                    </tr>
                    <tr>
                        <td>ФИО</td>
                        <td><input type="text" name="client_fio" value="{{ announcement.client_fio }}"></td>
                    </tr>
                    <tr>
                        <td>Перезвонить</td>
                        <td><input type="text" name="call_date" value="{{ announcement.call_date|date:"d.m.Y" }}">формат ДД.ММ.ГГГГ</td>
                    </tr>
                    <tr>
                        <td>Номер договора</td>
                        <td><input name="contract" value="{{ announcement.contract }}"></td>
                    </tr>
                </table>

                <h3>Объект</h3>
                <table>
                    <tr>
                        <td>VIP</td>
                        <td><input type="checkbox" name="vip" {% if announcement.vip %}checked="checked"{% endif %}></td>
                    </tr>
                    <tr>
                        <td>VIP приоритет</td>
                        <td><input name="vip_sort" value="{{ announcement.vip_sort }}">число, чем больше, тем выше клиент находится в выдаче</td>
                    </tr>
                    <tr>
                        <td>Комисия</td>
                        <td><input type="text" value="{{ announcement.commission }}" name="commission" ></td>
                    </tr>
                    <tr>
                        <td>Валюта комисии</td>
                        <td>
                            <select name="commission_currency">
                                <option {% if announcement.commission_currency == 0 %}selected="selected"{% endif %} value="0">RUB</option>
                                <option {% if announcement.commission_currency == 1 %}selected="selected"{% endif %} value="1">$</option>
                                <option {% if announcement.commission_currency == 2 %}selected="selected"{% endif %} value="2">&euro;</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="form_photos" style="display: none;"></div>
                {% for photo in photos %}
                    <input type="hidden" name="photo_filename" value="{{ photo.filename }}" />
                {% endfor %}
            </form>
            <form target="upload_target" method="post" enctype="multipart/form-data" action="/manage/ajax/upload/">
                {% csrf_token %}
                <h4>Фотографии</h4>
                <table id="form_photos_list">
                    {% for photo in photos %}
                        <tr>
                            <td><img src="/media/images/{{ photo.filename }}_small.jpg"/></td>
                            <td><input type="button" value="Удалить фото"></td>
                        </tr>
                    {% endfor %}
                </table>
                <input name="upload_photo_field" type="file">
                <input type="submit" name="upload_photo_btn" value="Загрузить фотографию">
            </form>

            <input type="button" onclick="save_announcement();" value="Сохранить изменения">
            <input type="button" onclick="delete_announcement();" value="Удалить анкету">
            <div id="form_information"></div>
        </div>

    </div>
    <div class="clear"></div>
    <iframe id="upload_target" name="upload_target" src="#" style="display: none;"></iframe>
{% endblock %}