{% extends 'base.html' %}

{% block content %}
<form action="/login/try/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>username:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>pass:</td>
            <td><input type="password" autocomplete="off" name="password"></td>
    </table>
    <input type="submit">
</form>
{% endblock %}
