{% extends 'base.html' %}

{% block title %}Добавление анкеты{% endblock %}

{% block content %}
    <div class="container_20">
        <div class="grid_12 prefix_1 suffix_1">
        <form id="form_new_announcement" method="post">
            {% csrf_token %}
            <h3>Основное</h3>
            <table>
                <tr>
                    <td>ФИО*:</td>
                    <td><input type="text" name="manager_fio"></td>
                </tr>
                <tr>
                    <td>Телефон*:</td>
                    <td><input type="text" name="manager_telephone"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="manager_email"><br></td>
                </tr>
                <tr>
                    <td>Тема*:</td>
                    <td><input type="text" name="subject">(к примеру: «Продам 3-х комнатную квартиру, 95/71/24»)</td>
                </tr>
                <tr>
                    <td>Описание*:</td>
                    <td><textarea cols="80" rows="20" name="description"></textarea></td>
                </tr>
                <tr>
                    <td>Статус:</td>
                    <td><select name="status">
                        <option value="1">Активно</option>
                        <option value="2">Продано/сдано</option>
                        <option value="0">Неактивно</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Тип анкеты:</td>
                    <td>
                        <select name="type_a">
                            <option value="0">Продажа</option>
                            <option value="1">Аренда</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Тип недвижимости*:</td>
                    <td>
                        <select name="building_type">
                            <option value="">---</option>
                            {% for building_type in building_types %}
                                <option value="{{ building_type.id }}">{{ building_type.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>

            <h3>Расположение*</h3><br>
            <table>
                <tr>
                    <td>Страна:</td>
                    <td>
                        <select name="country">
                            <option value="">---</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_country" maxlength="50">
                        <input class="form_new_item" type="button" action="new_country" value="+">
                    </td>
                </tr>
                <tr>
                    <td>Округ:</td>
                    <td>
                        <select name="district">
                            <option value="">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_district" maxlength="50">
                        <input class="form_new_item" type="button" action="new_district" value="+">
                    </td>
                </tr>
                <tr>
                    <td>Область:</td>
                    <td>
                        <select name="area">
                            <option value="">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_area" maxlength="50">
                        <input class="form_new_item" type="button" action="new_area" value="+">
                    </td>
                </tr>
                <tr>
                    <td>Район области:</td>
                    <td>
                        <select name="region">
                            <option value="">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_region" maxlength="50">
                        <input class="form_new_item" type="button" action="new_region" value="+">
                    </td>
                </tr>
                <tr>
                    <td>Город/населенный пункт:</td>
                    <td>
                        <select name="city">
                            <option value="">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_city" maxlength="50">
                        <input class="form_new_item" type="button" action="new_city" value="+">
                    </td>
                </tr>
                <tr>
                    <td>Район города:</td>
                    <td>
                        <select name="cityregion">
                            <option value="">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_cityregion" maxlength="50">
                        <input class="form_new_item" type="button" action="new_cityregion" value="+">
                    </td>
                </tr>
                <tr>
                    <td>Улица:</td>
                    <td>
                        <select name="street">
                            <option value="">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_street" maxlength="50">
                        <input class="form_new_item" type="button" action="new_street" value="+">
                    </td>
                </tr>
                <tr>
                    <td>Дом/строение:</td>
                    <td>
                        <select name="building">
                            <option value="">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="new_building" maxlength="50">
                        <input class="form_new_item" type="button" action="new_building" value="+">
                    </td>
                </tr>
            </table>

            <h3>Стоимость</h3>
            <table>
                <tr>
                    <td>Стоимость</td>
                    <td><input type="text" value="0" name="price"></td>
                </tr>
                <tr>
                    <td>Валюта</td>
                    <td>
                        <select name="price_currency">
                            <option value="0">RUB</option>
                            <option value="1">$</option>
                            <option value="2">&euro;</option>
                        </select>
                    </td>
                </tr>
            </table>

            <h3>Дополнительные поля</h3>
            <div id="form_additional_fields">
            </div>

            <h3>Клиент</h3>
            <table>
                <tr>
                    <td>Телефон</td>
                    <td><input type="text" name="client_telephone"></td>
                </tr>
                <tr>
                    <td>ФИО</td>
                    <td><input type="text" name="client_fio"></td>
                </tr>
                <tr>
                    <td>Перезвонить</td>
                    <td><input type="text" name="call_date">формат ДД.ММ.ГГГГ</td>
                </tr>
                <tr>
                    <td>Номер договора</td>
                    <td><input name="contract"></td>
                </tr>
            </table>

            <h3>Объект</h3>
            <table>
                <tr>
                    <td>VIP</td>
                    <td><input type="checkbox" name="vip"></td>
                </tr>
                <tr>
                    <td>VIP приоритет</td>
                    <td><input name="vip_sort">число, чем больше, тем выше клиент находится в выдаче</td>
                </tr>
                <tr>
                    <td>Комисия</td>
                    <td><input type="text" value="0" name="commission"></td>
                </tr>
                <tr>
                    <td>Валюта комисии</td>
                    <td>
                        <select name="commission_currency">
                            <option value="0">RUB</option>
                            <option value="1">$</option>
                            <option value="2">&euro;</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div id="form_photos" style="display: none;"></div>
        </form>

        <form target="upload_target" method="post" enctype="multipart/form-data" action="/manage/ajax/upload/">
            {% csrf_token %}
            <table id="form_photos_list"></table>
            <input name="upload_photo_field" type="file">
            <input type="submit" name="upload_photo_btn" value="Загрузить фотографию">
        </form>

        <input type="button" onclick="add_new_announcement();" value="Добавить анкету">
        <div id="form_information"></div>
        </div>
    </div>
    <div class="clear"></div>
    <iframe id="upload_target" name="upload_target" src="#" style="display: none;"></iframe>

{% endblock %}
