{% extends 'base.html' %}

{% block title %}Добавление статичной страницы{% endblock %}

{% block content %}
    <div class="container_20">
        <div class="grid_12 prefix_1 suffix_1">
            <form id="form_new_page" method="post">
                {% csrf_token %}
                <h1>Добавление статичной страницы</h1>
                <table>
                    <tr>
                        <td><strong>Заголовок*</strong>:</td>
                        <td><input type="text" name="title"></td>
                    </tr>
                    <tr>
                        <td><strong>Ссылка*</strong>:</td>
                        <td><input type="text" name="link"></td>
                    </tr>
                    <tr>
                        <td>Meta:</td>
                        <td><textarea cols="80" rows="10" type="text" name="meta"></textarea></td>
                    </tr>
                    <tr>
                        <td>Описание:</td>
                        <td><textarea cols="80" rows="10" type="text" name="description"></textarea></td>
                    </tr>
                    <tr>
                        <td>Ключевые слова:</td>
                        <td><textarea cols="80" rows="10" type="text" name="keywords"></textarea></td>
                    </tr>
                    <tr>
                        <td>Описание:</td>
                        <td><textarea cols="80" rows="10" name="description"></textarea></td>
                    </tr>
                    <tr>
                        <td>Содержимое страницы:</td>
                        <td><textarea cols="80" rows="20" name="content"></textarea></td>
                    </tr>
                </table>
                <input type="button" onclick="add_new_page();" value="Добавить статичную страницу">
                <div id="form_information"></div>
            </form>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
