{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
    <div class="container_20">
        <div class="grid_18 prefix_1 suffix_1">
            <div class="static_page">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="static_page">
            <div class="content">
                {% autoescape off %}
                    {{ content }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}