/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
    min-width: 1140px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_20 {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}


/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20 {
    position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* Grid >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container_20 .grid_1 {
    width:37px;
}

.container_20 .grid_2 {
    width:94px;
}

.container_20 .grid_3 {
    width:151px;
}

.container_20 .grid_4 {
    width:208px;
}

.container_20 .grid_5 {
    width:265px;
}

.container_20 .grid_6 {
    width:322px;
}

.container_20 .grid_7 {
    width:379px;
}

.container_20 .grid_8 {
    width:436px;
}

.container_20 .grid_9 {
    width:493px;
}

.container_20 .grid_10 {
    width:550px;
}

.container_20 .grid_11 {
    width:607px;
}

.container_20 .grid_12 {
    width:664px;
}

.container_20 .grid_13 {
    width:721px;
}

.container_20 .grid_14 {
    width:778px;
}

.container_20 .grid_15 {
    width:835px;
}

.container_20 .grid_16 {
    width:892px;
}

.container_20 .grid_17 {
    width:949px;
}

.container_20 .grid_18 {
    width:1006px;
}

.container_20 .grid_19 {
    width:1063px;
}

.container_20 .grid_20 {
    width:1120px;
}




/* Prefix Extra Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container_20 .prefix_1 {
    padding-left:57px;
}

.container_20 .prefix_2 {
    padding-left:114px;
}

.container_20 .prefix_3 {
    padding-left:171px;
}

.container_20 .prefix_4 {
    padding-left:228px;
}

.container_20 .prefix_5 {
    padding-left:285px;
}

.container_20 .prefix_6 {
    padding-left:342px;
}

.container_20 .prefix_7 {
    padding-left:399px;
}

.container_20 .prefix_8 {
    padding-left:456px;
}

.container_20 .prefix_9 {
    padding-left:513px;
}

.container_20 .prefix_10 {
    padding-left:570px;
}

.container_20 .prefix_11 {
    padding-left:627px;
}

.container_20 .prefix_12 {
    padding-left:684px;
}

.container_20 .prefix_13 {
    padding-left:741px;
}

.container_20 .prefix_14 {
    padding-left:798px;
}

.container_20 .prefix_15 {
    padding-left:855px;
}

.container_20 .prefix_16 {
    padding-left:912px;
}

.container_20 .prefix_17 {
    padding-left:969px;
}

.container_20 .prefix_18 {
    padding-left:1026px;
}

.container_20 .prefix_19 {
    padding-left:1083px;
}



/* Suffix Extra Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container_20 .suffix_1 {
    padding-right:57px;
}

.container_20 .suffix_2 {
    padding-right:114px;
}

.container_20 .suffix_3 {
    padding-right:171px;
}

.container_20 .suffix_4 {
    padding-right:228px;
}

.container_20 .suffix_5 {
    padding-right:285px;
}

.container_20 .suffix_6 {
    padding-right:342px;
}

.container_20 .suffix_7 {
    padding-right:399px;
}

.container_20 .suffix_8 {
    padding-right:456px;
}

.container_20 .suffix_9 {
    padding-right:513px;
}

.container_20 .suffix_10 {
    padding-right:570px;
}

.container_20 .suffix_11 {
    padding-right:627px;
}

.container_20 .suffix_12 {
    padding-right:684px;
}

.container_20 .suffix_13 {
    padding-right:741px;
}

.container_20 .suffix_14 {
    padding-right:798px;
}

.container_20 .suffix_15 {
    padding-right:855px;
}

.container_20 .suffix_16 {
    padding-right:912px;
}

.container_20 .suffix_17 {
    padding-right:969px;
}

.container_20 .suffix_18 {
    padding-right:1026px;
}

.container_20 .suffix_19 {
    padding-right:1083px;
}



/* Push Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container_20 .push_1 {
    left:57px;
}

.container_20 .push_2 {
    left:114px;
}

.container_20 .push_3 {
    left:171px;
}

.container_20 .push_4 {
    left:228px;
}

.container_20 .push_5 {
    left:285px;
}

.container_20 .push_6 {
    left:342px;
}

.container_20 .push_7 {
    left:399px;
}

.container_20 .push_8 {
    left:456px;
}

.container_20 .push_9 {
    left:513px;
}

.container_20 .push_10 {
    left:570px;
}

.container_20 .push_11 {
    left:627px;
}

.container_20 .push_12 {
    left:684px;
}

.container_20 .push_13 {
    left:741px;
}

.container_20 .push_14 {
    left:798px;
}

.container_20 .push_15 {
    left:855px;
}

.container_20 .push_16 {
    left:912px;
}

.container_20 .push_17 {
    left:969px;
}

.container_20 .push_18 {
    left:1026px;
}

.container_20 .push_19 {
    left:1083px;
}



/* Pull Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container_20 .pull_1 {
    left:-57px;
}

.container_20 .pull_2 {
    left:-114px;
}

.container_20 .pull_3 {
    left:-171px;
}

.container_20 .pull_4 {
    left:-228px;
}

.container_20 .pull_5 {
    left:-285px;
}

.container_20 .pull_6 {
    left:-342px;
}

.container_20 .pull_7 {
    left:-399px;
}

.container_20 .pull_8 {
    left:-456px;
}

.container_20 .pull_9 {
    left:-513px;
}

.container_20 .pull_10 {
    left:-570px;
}

.container_20 .pull_11 {
    left:-627px;
}

.container_20 .pull_12 {
    left:-684px;
}

.container_20 .pull_13 {
    left:-741px;
}

.container_20 .pull_14 {
    left:-798px;
}

.container_20 .pull_15 {
    left:-855px;
}

.container_20 .pull_16 {
    left:-912px;
}

.container_20 .pull_17 {
    left:-969px;
}

.container_20 .pull_18 {
    left:-1026px;
}

.container_20 .pull_19 {
    left:-1083px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
    zoom: 1;
}