html {
    background: url(/static/i/back.jpg) repeat;
}

body{
    background: #E1E2E2;
    text-align:left;
    font-size: 12px;
    font-family: Verdana, Trebuchet MS, Helvetica, sans-serif;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    background: url(/static/i/back_gr.jpg) repeat-x;
}

a {color: #528ab3; }
a:hover {text-decoration: none;}

sup {font-size: 70%; margin-top:0%; line-height: 0.5em;}

@font-face {
    font-family: 'MyriadProCondRegular';
    src: url('myriadpro-condwebfont.eot');
    src: url('myriadpro-condwebfont.eot?#iefix') format('embedded-opentype'),
    url('myriadpro-condwebfont.woff') format('woff'),
    url('myriadpro-condwebfont.ttf') format('truetype'),
    url('myriadpro-condwebfont.svg#MyriadProCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBlackCondItalic';
    src: url('myriadpro-blackconditwebfont.eot');
    src: url('myriadpro-blackconditwebfont.eot?#iefix') format('embedded-opentype'),
    url('myriadpro-blackconditwebfont.woff') format('woff'),
    url('myriadpro-blackconditwebfont.ttf') format('truetype'),
    url('myriadpro-blackconditwebfont.svg#MyriadProBlackCondItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProLightBoldItalic';
    src: url('myriadpro-semibolditwebfont.eot');
    src: url('myriadpro-semibolditwebfont.eot?#iefix') format('embedded-opentype'),
    url('myriadpro-semibolditwebfont.woff') format('woff'),
    url('myriadpro-semibolditwebfont.ttf') format('truetype'),
    url('myriadpro-semibolditwebfont.svg#MyriadProLightBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.eot');
    src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('websymbols-regular-webfont.woff') format('woff'),
    url('websymbols-regular-webfont.ttf') format('truetype'),
    url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}


.super {
    margin: 0px auto;
    padding: 0 0px;
    display: block;
    position: relative;
    /*min-width: 1158px;
    max-width: 1158px;*/
    width: 1140px;
    /*	height: auto;*/
    background-image: url(/static/i/back_2.jpg);
    /* repeat white; */
    border-top: none;
    margin-bottom: 60px;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
    box-shadow: 0 0 25px gray;
    overflow: hidden;


    /*position: relative;*/
    /*z-index: -100;*/
}

h1,h2,h3, h4, { font-family: Tahoma, Helvetica, Arial, sans-serif; }

.header { margin-top: 36px; margin-bottom: 34px; overflow: hidden;}
.header .navi {}
.header .navi ul { float: right; margin-top: 22px;}
.header .navi ul li { float: left !important; margin-left: 10px; font-size: 17px; font-family: "MyriadProCondRegular", Impact, Tahoma, sans-serif; font-weight: normal; text-transform: uppercase;}
.header .navi ul li a { text-decoration: none; color: black; height: 11px; display: block; float: left; padding: 8px 15px; }
.header .navi ul li a:hover,
.header .navi ul li a.active
{ background: url(/static/i/navi_hover.jpg) repeat-x; border-radius: 14px; color: white; text-shadow: 1px 1px 0px #356477;}
.header .navi ul li a span { background: url(/static/i/nav_house.png) 0px 19px transparent; width: 19px; height: 19px; display: block; margin-top: -4px;}
.header .navi ul li a:hover span, .header .navi ul li a.active span { background: url(/static/i/nav_house.png) 0px 0px transparent }

.ban_head_img { height: 200px; margin-top: 40px; margin-bottom: 45px; }
.ban_head_img a { width: 171px; height: 208px; display: block; cursor: pointer; }
.ban_head_img a:hover { }

.ban_head_img a.sell {background:url('/static/i/ban_head_img.jpg') 0 0;}
.ban_head_img a.sell:hover {background:url('/static/i/ban_head_img.jpg') 0 208px;}

.ban_head_img a.rent {background:url('/static/i/ban_head_img.jpg') -170px 0;}
.ban_head_img a.rent:hover {background:url('/static/i/ban_head_img.jpg') -170px 208px;}

.ban_head_img a.service {background:url('/static/i/ban_head_img.jpg')  -340px 0;}
.ban_head_img a.service:hover {background:url('/static/i/ban_head_img.jpg') -340px 208px;}

.ban_head_img a.feedback {background:url('/static/i/ban_head_img.jpg') -511px 0;}
.ban_head_img a.feedback:hover {background:url('/static/i/ban_head_img.jpg') -511px 208px;}

.ban_head_img a.about {background:url('/static/i/ban_head_img.jpg')  -682px 0;}
.ban_head_img a.about:hover {background:url('/static/i/ban_head_img.jpg') -682px 208px;}

.ban_head_img a.contacts {background:url('/static/i/ban_head_img.jpg') -853px 0;}
.ban_head_img a.contacts:hover {background:url('/static/i/ban_head_img.jpg') -853px 208px;}

p.intro_first { font-family: "MyriadProBlackCondItalic", Georgia, serif; font-size: 45px; line-height: 45px; color: #f36121; text-shadow: 2px 2px 0 #f4f4f4; margin: 10px 0 54px 0; }

div.phone_first { color: white; width: 113px; height: 16px; padding: 13px 10px 13px 30px; background: url(/static/i/phone_or.gif) 10px center no-repeat #f36121; border-radius: 21px; /*font-family: "MyriadProCondRegular", Impact, Tahoma, sans-serif;*/}
div.phone_first div {
    float: left;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f36121;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px; }


.search { }

.search .header {margin: 0;}
.search .header h2 {font-size: 17px; font-weight: bold; font-family: tahoma; color: #253a42; text-shadow: 1px 1px 0 #cfdde7; margin: 10px 0 0 0; }

.search .header h2 span {font-family: "WebSymbolsRegular"; margin-right: 10px; color: #F36121; margin-top: -1px;}
.search .header ul { padding: 0; margin: 13px 0 0 0; color: #253a42; font-family: Verdana, Tahoma, sans-serif; font-size: 12px;}
.search .header ul li {float: left; margin-right: 20px;}

.search .header p {font-weight: bold; color: #253a42; font-family: Verdana, Tahoma, sans-serif; font-size: 12px; float: right;}


.search .form { width: 98%; height: 240px; background: url(/static/i/search_back.jpg) repeat #2B3F46; border-radius: 24px 24px 24px 24px;  -webkit-background-clip: padding-box; margin-bottom: 30px; margin: 0 1%; color: white; overflow: hidden; }
.search .form .block_1 {border-radius: 24px 0 0 24px;}

.search .form h3 {font-weight: normal; margin: 25px 0 10px 0; color: #9BE8FF; }

.search .form .devider {height: 240px; width: 3.205%; background: url(/static/i/search_devider.jpg) no-repeat transparent right center; float: left;}
.search .form .block_1,
.search .form .block_2,
.search .form .block_3,
.search .form .block_4
{ background: url(/static/i/search_back_gr.jpg) repeat-y left top; height: 240px; float: left; display: block; overflow: hidden;}

.search .form .block_1 {width: 11.398%}
.search .form .block_2 {width: 23.24%;}
.search .form .block_3 {width: 17.72%;}
.search .form .block_4 {width: 37.40%;}

.search .form input[type=text] {border: 1px solid #a8eaff; border-radius: 3px; padding: 3px;}
.search .form select {border: 1px solid #a8eaff; border-radius: 3px; height: 22px;}

.search .form input[type=button] {
    background: #f36121;
    color: white;
    border-radius: 17px;
    text-decoration: none;
    padding: 7px 14px;
    margin: 0 0 5px 20px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.4), 0px 2px 0px 0px rgba(0,0,0,0.5);
}


.search .form input[type=button]:hover { background-color: #FF6B00; box-shadow: inset 0px 3px 0px 0px rgba(255,255,255,0.4), 0px 3px 0px 0px rgba(0,0,0,0.5);}
.search .form input[type=button]:active { background-color: #DB5B00; box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.3)}
.search .form input[type=checkbox] {margin: 0 10px 0 0;}

.search .form .block_2 .estate {float: left; margin-left: 5.163%;}
.search .form .block_1 .estate {float: left; margin-left: 25.5%;}
.search .form .estate ul { float: left; height: 150px; padding: 0;}
.search .form .estate ul li {margin: 15px 15px 0 0;}

.search .form .estate ul li a {color: white; text-decoration: none; height: 13px; margin: 7px 12px 7px 12px; border-bottom: 1px dotted #9BE8FF;}
.search .form .estate ul li a:hover {
    background: transparent;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 6px 11px 6px 11px;
    margin: 0;
    border: 1px solid #2E5868;
    background: #25323B;
    box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.5);

}

.search .form .estate ul li a.active,
.search .form .estate ul li a:active
{ background: #f36121; color: white; border-radius: 15px; box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.3); text-decoration: none; padding: 7px 12px 7px 12px; margin: 0; border: none; }

.search .form .estate ul li a sup {font-size: 70%; border: none; margin-left: 2px; margin-top: 0px; line-height: 0.5em;}

.search .form .city {float: left; margin-left: 14.57%;}
.search .form .city ul {margin: 0; padding: 0;}
.search .form .city ul li { float: left; margin: 5px 10px 0 0; color: white; text-decoration: none; border-bottom: 1px dotted #9BE8FF; cursor: pointer;}
.search .form .city ul li:hover {color: #f36121; text-decoration: line-through; border-bottom: 1px dotted transparent; }

.search .details {float: left; overflow: hidden; display: block; margin-left: 7.142%; width: 87%;}
.search .details .price {overflow: hidden; display: block;}
.search .details .price p {float: left; margin: 0; }
.search .details .price {}
.search .details .price span { margin-left: -1.0em; line-height: 1em; font-size: 65%;}
.search .details .price .val {float: left; font-size: 130%; display: block; overflow: hidden; margin: 2px 0 0 10px;}
.search .details .square {overflow: hidden; display: block; margin-bottom: 20px;}
.search .details .square div {float: left; margin-right: 10px; }
.search .details .square input[type="text"] {width: 30px;}
.search .details .square input[type="checkbox"] { margin: 7px 4px 0 4px;}
.search .details .square p { margin: 0;}
.search .details .square h3 { margin-top: 15px;}
.search .details .square .room { margin-right: 0px; width: 196px; overflow: visible;}
#search_room_select {margin-left: 10px;}

.search .details .ok { overflow: hidden; display: block; float: right; width: 234px; margin-top: 20px;}
.search .details .ok input:button {float: right;}


.arenda_slider {
    display: block;
    overflow: hidden;
    margin-top: 45px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

}
.arenda_slider .button {height: 200px; margin-top: 30px;}
.arenda_slider h2 {font-size: 17px; font-weight: bold; font-family: tahoma; color: #253a42; text-shadow: 1px 1px 0 #cfdde7; margin: 0 0 0 0;}
.arenda_slider .grid_5 a {float: right;}

.arenda_slider .button_l,
.arenda_slider .button_r
{
    margin-top: 150px;
    height: 15px;
    width: 15px;
    padding: 9px;
    border-radius: 17px;
    border: 1px solid silver;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.06), inset 0px 3px 0 0px rgba(255,255,255,1);
    background: #EAEAEA;
    font-size: 100%;
    color: gray;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
    cursor: pointer;
    font-family: "WebSymbolsRegular", verdana, helverica, sans-serif;
    text-align: center;
}


.arenda_slider .button_l ::selection { background: transparent; }
.arenda_slider .button_r ::selection { background: transparent; }
.arenda_slider .button_l ::-moz-selection { background: transparent; }
.arenda_slider .button_r  ::-moz-selection { background: transparent; }


.arenda_slider .button_l:hover,
.arenda_slider .button_r:hover
{
    border: 1px solid #7BC5DB;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.06), inset 0px 3px 0 0px rgba(255,255,255,0.7);
    background: #8EE2FC;
    color: #568999;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
}

.arenda_slider .button_l:active,
.arenda_slider .button_r:active
{
    border: 1px solid #7BC5DB;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1), inset 0px 3px 0 0px rgba(0,0,0,0.3);
    background: #7BC5DB;
    color: #568999;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.6);
}


.arenda_slider .grid_4 { margin-top: 30px; margin-bottom: 10px; /* box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.03); */ background: #dddddd; padding: 1px;}
.arenda_slider .grid_4 .obj {height: 289px; border: 1px solid white; background: white;}
.arenda_slider .grid_4 .obj .img { height: 140px; width: 100%; background: no-repeat center center #E9E9E9; z-index: 0; display: table } /*проверить пиздец! дисплей тейбл */
.arenda_slider .grid_4 .obj .contacts {visibility: hidden ; height: 130px; padding-top: 10px; z-index: 10; background: rgba(0,0,0,0.3); color: white; text-align: center; padding-left: 10px; padding-right: 10px;}
.arenda_slider .grid_4 .obj .contacts p.phone {font-size: 18px; font-weight: bold; font-family: arial, sans-serif;}
.arenda_slider .grid_4 .obj .contacts a { background: #F36121; padding: 5px 10px; border-radius: 20px; color: white; text-decoration: none; box-shadow: inset 0px 1px 0px 1px rgba(255,255,255,0.3), 0px 0px 0px 2px rgba(0,0,0,0.2); }
.arenda_slider .grid_4 .obj .contacts a:hover {box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);}
.arenda_slider .grid_4 .obj .contacts a:active {box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px 2px rgba(0,0,0,0.2); background-color: #DB5B00;}

.arenda_slider .grid_4 .obj:hover .contacts { visibility: visible; }

.arenda_slider .grid_4 .obj .name { height: 95px; overflow: hidden; } /*проверить пиздец! дисплей тейбл */
.arenda_slider .grid_4 .obj .name p.adr {margin: 10px 10px 0px 26px; font-size: 11px; color: #6f706f; padding-right: 10px; }
.arenda_slider .grid_4 .obj .name h5 {margin: 0px 10px 10px 0px; padding-left: 26px; background: url(/static/i/key.jpg) 7px 2px no-repeat;}
.arenda_slider .grid_4 .obj .name h5:first-letter { text-transform: uppercase; }


.arenda_slider .grid_4 .obj .param { overflow: hidden; background: url(/static/i/param_back.jpg) left top repeat-x #FDFDFD; padding: 10px 15px; bottom: 0px; height: 25px; font-family: 'MyriadProCondRegular', Verdana, sans-serif; font-size: 15px; margin-top: 7px;}
.arenda_slider .grid_4 .obj .param div {float: left;}
.arenda_slider .grid_4 .obj .param .type { text-align: center; color: white; padding: 7px; width: 13px; height: 13px; background: green; border-radius: 14px; margin-right: 7px; line-height: 18px;  display: none; }
.arenda_slider .grid_4 .obj .param .type_2 { text-align: center; color: black; padding: 7px; width: 12px; height: 12px; background: white; border-radius: 14px; border: 1px solid silver; margin-right: 10px; line-height: 18px;  display: none; }
.arenda_slider .grid_4 .obj .param .price {
    /*background: url(/static/i/price.gif) center center transparent no-repeat; */
    width: 155px;
    height: 12px;
    padding: 9px 0px;
    text-align: right;
    margin: -2px 0 0 0; float: right;
    font-size: 150%;
}

.arenda_slider .grid_4 .obj .param .price span {text-decoration: line-through; margin-left: 3px;}

.slide_pager { overflow: hidden; width: 200px; margin: 20px auto; }
.slide_pager ul {margin: 0 auto; padding: 0;}
.slide_pager ul li { float: left; margin: 0 10px;}
.slide_pager ul li a {width: 30px; height: 9px; background: url(/static/i/slider_pager.gif) 0px 0px; display: block; opacity: 0.5; }
.slide_pager ul li a.active {background: url(/static/i/slider_pager.gif) 0px 10px; opacity: 1;}
.slide_pager ul li a:hover {background: url(/static/i/slider_pager.gif) 0px 10px; opacity: 1;}







.tizers_2 { overflow: hidden; display: block; margin-top: 50px;}

.tizers_2 h2 { font-size: 17px; line-height: 1.176em;  font-family: "MyriadProLightBoldItalic", Tahoma, Helvetica, sans-serif; font-weight: normal; margin-bottom: 10px;}
.tizers_2 h2 a{}
.tizers_2 h2 a:hover {text-decoration: none;}
.tizers_2 p { font-size: 10px; line-height: 16px; color: #646464;}

.tizers_2 .icon { width: 125px; height: 127px; background-position: left bottom; background-repeat: no-repeat; float: right; }

.tizers_2 .cons .icon { background-image: url(/static/i/tiz_cons.jpg); }
.tizers_2 .plan .icon { background-image: url(/static/i/tiz_plan.jpg); }
.tizers_2 .strah .icon { background-image: url(/static/i/tiz_strah.jpg); }



.footer_top {width: 100%; height: auto; margin: 40px 0 -4px 0;}

.footer { background: url(/static/i/footer_back.jpg) repeat-x top #172f39; color: #a5e6fb; display: block; overflow: hidden; padding: 30px 0 30px 0}
.footer a {color: white; text-decoration: none; }
.footer a:hover {text-decoration: underline;}
.footer h4 {font-size: 14px; font-weight: bold; margin: 0 0 0px 0; line-height: 30px;}


.footer .bold {margin-top: 0px;}
.footer .bold a {font-weight: bold;}

.footer ul {margin: 0; padding: 0;}
.footer ul li {margin-bottom: 0px; line-height: 30px;}

.footer .social {margin-top: 30px;}

.footer .social li.fb {background: url(http://www.facebook.com/favicon.ico) left center no-repeat; padding-left: 25px;}
.footer .social li.vk {background: url(http://www.vk.com/favicon.ico) left center no-repeat; padding-left: 25px;}
.footer .social li.afy {background: url(http://www.afy.ru/favicon.ico) left center no-repeat; padding-left: 25px;}

.footer .copy {padding-top: 20px; display: block; overflow: hidden; width: 100%;}
.footer .copy a {text-decoration: underline;}








::selection { background:#9BE8FF; color:#000; }
::-moz-selection { background:#9BE8FF; color:#000; }


.bread { overflow: hidden; display: block; padding: 5px 0; }
.bread ul { margin: 20px 0 0px 0; padding: 0; overflow: hidden; display: block;}
.bread ul li {float: left; padding:0 40px 0 0; margin: 0 10px 0 0; background: url(/static/i/bread_arow.gif) right center no-repeat;}
.bread ul li:last-child {background: transparent;}

/*---- Anketa ---- */

.anketa h1 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: black;
    text-shadow: 2px 2px 0 #F4F4F4;
    margin: 10px 0 20px 0;
}
.anketa h1:first-letter {text-transform: uppercase; }
.anketa h1 span {font-size: 60%; color: gray;}


.anketa .photo_out .photo {padding: 6px; border: 1px solid silver; height: 490px; width: 600px; display: table-cell; vertical-align: middle; text-align: center; }
.anketa .photo_out .photo img { }
.anketa .photo_out a img {margin: 20px 14px 0px 0; }

.anketa .photo_out .fav {float: left; }


.anketa .photo_out a.active img,
.anketa .photo_out a:hover img
{box-shadow: 0px 0px 0px 2px #5bb2ce;}


.anketa h2 {font-size: 17px; font-weight: bold; font-family: tahoma; color: #253a42; text-shadow: 1px 1px 0 #cfdde7; margin: 0 0 0 0;}

.anketa p { line-height: 1.6em; margin-bottom: 20px; }

.anketa  dl { font-size: 12px !important; margin: 0 0 20px 0; overflow: hidden; }
.anketa  dl dt {float: left; width: 30%; padding: 3px 0;}
.anketa  dl dd {float: left; width: 70%; margin: 0; padding: 3px 0;}


/*
.anketa .param_osn {margin-bottom: 20px; overflow: hidden; }
	.anketa .param_osn dl { color: #000; }
	.anketa .param_osn dl dt {float: left; width: 240px; padding: 10px 10px 10px 10px; margin: 0;  border-bottom: 1px solid #E2E1E3;}
		.anketa .param_osn dl dt span {}
	.anketa .param_osn dl dd { font-weight: bold; float: left; width: 325px; margin: 0; padding: 10px 10px 10px 10px; border-bottom: 1px solid #E2E1E3; }

	.anketa .param_osn dl dt.bool { width: 200px; padding-left: 50px; background: url(/static/i/bool.png) no-repeat 20px center transparent; border: none; }
		.anketa .param_osn dl dd.bool { display: none; }

	.anketa  ul { padding: 0; margin: 0; }
	.anketa  ul li { padding-left: 0; }
*/

.anketa .param_osn {margin-bottom: 20px; overflow: hidden; }
.anketa .param_osn dl { color: #000; }
.anketa .param_osn dl dt { width: 240px; padding: 10px 10px 10px 10px; clear: left; float: left; margin: 0;  border-bottom: 1px solid #E2E1E3; }
.anketa .param_osn dl dt span {}
.anketa .param_osn dl dd { font-weight: bold; float: left; width: 325px; clear: right; display: block; margin: 0; padding: 10px 10px 10px 10px; border-bottom: 1px solid #E2E1E3; }
.anketa .param_osn dl dt.bool { width: 200px; padding-left: 50px; background: url(/static/i/bool.png) no-repeat 20px center transparent; border: none; }
.anketa .param_osn dl dd.bool { display: none; }
.anketa  ul { padding: 0; margin: 0; }
.anketa  ul li { padding-left: 0; }
.anketa .param_osn h3 { background: #F3F3F3; padding: 10px; margin: 40px 0 0 0; color: #253a42; text-shadow: 1px 1px 0 #cfdde7; border-bottom: 2px solid #d2d2d2;}


.anketa .sub_info { border: 3px solid #5bb2ce; border-radius: 10px; margin: 15px 0 35px 0; padding: 2px;}
.anketa .sub_info  .price { overflow: hidden; margin: 20px 0 0 20px;  padding-bottom: 10px; }
.anketa .sub_info  .price p {float: left; font-size: 35px; line-height: 35px; font-family:'MyriadProCondRegular', Verdana, sans-serif; margin: 0;}
.anketa .sub_info  .price p span {margin-left: -0.5em; position: absolute; margin-top: 0.12em;}

.anketa .sub_info  .price .param { margin-left: 30px; height: 25px; font-family: 'MyriadProCondRegular', Verdana, sans-serif; font-size: 15px; float: left;}
.anketa .sub_info  .price .param div {float: left;}
.anketa .sub_info  .price .param .type { text-align: center; color: white; padding: 7px; width: 13px; height: 13px; background: green; border-radius: 14px; margin-right: 7px; line-height: 18px;}
.anketa .sub_info  .price .param .type_2 { text-align: center; color: black; padding: 7px; width: 12px; height: 12px; background: white; border-radius: 14px; border: 1px solid silver; margin-right: 10px; line-height: 18px;}

.anketa .grid_6 h2 {margin: 20px 0 5px 0; padding: 20px 0 10px 0; }

.anketa .sub_info  .stat { font-size: 10px; padding: 10px; background: #F3F3F3; margin-bottom: 0px; border-radius: 5px; border: 1px solid #D4D4D4;}
.anketa .sub_info  .stat dl { margin: 0;}
.anketa .sub_info  .stat dl dd {font-size: 10px; color: gray; width: 50%;}
.anketa .sub_info  .stat dl dt {font-size: 10px; color: gray; width: 40%}


.anketa_list { margin-bottom: 50px; overflow: hidden; display: block; }
.anketa_list h2 {
    font-size: 17px;
    font-weight: bold;
    font-family: tahoma;
    color: #253a42;
    text-shadow: 1px 1px 0 #cfdde7;
    margin: 40px 0 0px 0;
}

.anketa_list .element { border-bottom: 1px dashed #d2d2d2; padding-bottom: 25px; padding-top: 25px; display: block; overflow: hidden;}
.anketa_list .element img { margin: 10px 0 0 5px; padding: 1px; border: 1px solid #D2D2D2; box-shadow: 0 0 0 5px rgba(0,0,0,0.05); width: 195px;}

.anketa_list .element .main { background: url(/static/i/key.jpg) 30px 23px no-repeat; padding-left: 57px; margin-top: -5px;}
.anketa_list .element .main h3 {margin-top: 0; padding-top: 0; font-size: 18px; line-height: 1.4em; font-weight: normal; margin-bottom: 15px;}
.anketa_list .element .main h3:first-letter { text-transform: uppercase; }
.anketa_list .element .main p { height: 95px; overflow: hidden; line-height: 1.4em; }

.anketa_list .element .main .adr {}
.anketa_list .element .main .adr dl {margin-top: 0; padding: 0; }
.anketa_list .element .main .adr dl dd { font-size: 10px; line-height: 1em; color: gray; margin: 0 10px 0 0; padding: 0px 0px 10px 0; float: left;}
.anketa_list .element .main .adr dl dt { margin: 0;}

.anketa_list .element .price {
    font-family:'MyriadProCondRegular', Verdana, sans-serif; overflow: hidden;
    margin: 5px 3px 0 0px;
    padding: 0 5px 10px 10px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    background-color: white;
}

.anketa_list .element .price .sum {font-size: 35px; line-height: 35px; margin-bottom: 10px; margin-top: 15px;}

.anketa_list .element .price .param {font-size: 15px;}
.anketa_list .element .price .param dl { font-family: Verdana, 'Trebuchet MS', Helvetica, sans-serif; font-size: 12px;}
.anketa_list .element .price .param dl dt { float: left; width: 70%; color: gray; border-bottom: 1px solid #d2d2d2; margin-bottom: 2px;}
.anketa_list .element .price .param dl dd { margin-left: 5px; float: left; width: 19%; margin-bottom: 2px; }
.anketa_list .element .price .param dl dd span {color: gray; margin-left: 1px;}
.anketa_list .element .price .param .type {float: left; text-align: center; color: white; padding: 7px; width: 13px; height: 13px; background: green; border-radius: 14px; margin-right: 7px; line-height: 18px;}
.anketa_list .element .price .param .type_2 {float: left; text-align: center; color: black; padding: 7px; width: 12px; height: 12px; background: white; border-radius: 14px; border: 1px solid silver; margin-right: 10px; line-height: 18px;}

.anketa_list .not_found {  }
.anketa_list .not_found p.info {float: left; font-size: 150%; line-height: 150%; }
.anketa_list .not_found p.info span {font-weight: bold; }
.anketa_list .not_found p.ico { font-family: "WebSymbolsRegular", sans-serif; font-size: 80px; line-height: 80px; color: #A7EAFE; padding: 10px; margin: 0; text-align: center; }



/* Static Page */

.static_page {}
.static_page h1 { font-size: 250%; margin-top: 40px;}
.static_page h2 { font-size: 150%; line-height: 1.6em; margin: 20px 0 10px 0; }
.static_page h3 { font-size: 140%; }
.static_page h4 { font-size: 120%; }
.static_page h5 { font-size: 100%; }

.static_page p {line-height: 1.6em; text-align: justify; margin-bottom: 30px;}
.static_page p.lid { text-align:left; font-size: 130%; line-height: 150%; color: #236F91; font-weight: bold; }
.static_page p.lid:first-letter {
    background-repeat: no-repeat;
    font-size: 350%;
    margin: 5px 10px 0 0px;
    line-height: 1em;
    display: block;
    overflow: hidden;
    float: left;
    font-weight: bold;
    color: white;
    background: #236f91 0px;
    background-image: linear-gradient(bottom, #236E91 6%, #67BCD9 100%);
    background-image: -o-linear-gradient(bottom, #236E91 6%, #67BCD9 100%);
    background-image: -moz-linear-gradient(bottom, #236E91 6%, #67BCD9 100%);
    background-image: -webkit-linear-gradient(bottom, #236E91 6%, #67BCD9 100%);
    background-image: -ms-linear-gradient(bottom, #236E91 6%, #67BCD9 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, #236E91),
        color-stop(1, #67BCD9)
    );


    border-radius: 5px;
    padding: 3px 10px 5px;}

.static_page ul { list-style: square; margin-bottom: 30px;}
.static_page ul li { margin-bottom: 10px;}


.static_page ul.sub_link { font-size: 120%; line-height: 120%;}
.static_page ul.sub_link li {margin-bottom: 20px;}




/* manager list */

.manager_list {margin: 40px 0 60px 0;}
.manager_list .manager_unit { margin: 0 0 40px 0; text-align: center; display: block; overflow: hidden; }
.manager_list .manager_unit a img {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 10px rgba(0,0,0,0.05) ;
    margin-top: 10px;
    border-radius: 100px;
}

.manager_list .manager_unit h3 { font-size: 150%; font-weight: bold;}
.manager_list .manager_unit h5 {}

.manager_list .manager_unit p.phone { font-size: 150%; line-height: 100%; background: url(/static/i/phone.gif) left 0px no-repeat; padding-left: 20px; display: inline-block; font-family: "MyriadProCondRegular", Helvetica, Arial, sans-serif; }

.manager_list .manager_unit p.about { font-size: 100%; height: 95px; overflow: hidden; padding: 0 20px; }


.contacts_block { padding-top: 20px; margin-top: 20px; overflow: hidden; display: block; }

.contacts_block {}

.contacts_block dl {}

.contacts_block dl dt { padding: 10px 0 0 0; float: left; width: 490px; text-align: right; }
.contacts_block dl dd { padding: 10px 0 0 20px; float: left; width: 480px; margin-left: 0;}

.contacts_block dl dt h2 { font-size: 150%;}
.contacts_block dl dt p.comm { color: gray; }
.contacts_block dl dd p.phone { font-size: 150%; line-height: 100%; background: url(/static/i/phone.gif) left 0px no-repeat; padding-left: 20px; display: inline-block; font-family: "MyriadProCondRegular", Helvetica, Arial, sans-serif; float: left; margin-right: 20px; }



/* add form */

#divSaleAddForm { padding: 0 67px 0 67px; }

#divSaleAddForm h1 {font-size: 25px; margin: 40px 0 0 0; font-weight: normal; }
#divSaleAddForm h2 {font-size: 17px;
    font-weight: bold;
    font-family: tahoma;
    color: #253a42;
    text-shadow: 1px 1px 0 #cfdde7;
    margin: 40px 0 20px 0; }

#divSaleAddForm dl { display: block; width: 100%; overflow: hidden; }
#divSaleAddForm dl dt { float: left; width: 200px; padding: 4px 0; border-bottom: 1px dashed silver;}
#divSaleAddForm dl dd { padding: 4px 0; }
#divSaleAddForm dl dd span { padding-left: 160px;}
#divSaleAddForm dl dd .block {padding-left: 160px;}
#divSaleAddForm dl dd input { padding: 4px; width: 300px;}
#divSaleAddForm dl dd input[type=radio] {width: auto;}
#divSaleAddForm dl dd input[type=checkbox] {width: auto;}
#divSaleAddForm dl dd textarea {width: 500px; height: 400px;}

#divSaleAddForm .plane {}
#divSaleAddForm .plane .file { width: 140px; height: 88px; display: block; }
#divSaleAddForm .plane .ico_delete {height: 88px;}
#divSaleAddForm .plane iframe {height: 50px;}

#divSaleAddForm div.file { overflow: hidden; width: 140px; height: 105px; cursor: pointer; background-color: #e5e5e5; border: solid 1px #dddddd; float: left; margin-right: 10px; margin-bottom: 10px; position: relative; background-repeat: no-repeat; background-position: center center; background-image: URL(/static/i/bt-photo-add.gif);}
#divSaleAddForm div.file div.ico_delete { position: absolute; right: 5px; top: 5px; cursor: pointer; color: red; z-index: 9999; background-image: URL(/static/i/bt-delete.png); width: 32px; height: 32px; }
#divSaleAddForm input.file { opacity: 0; filter: alpha(opacity:0); font-size: 199px; cursor: pointer; padding: 0px; margin: 0px; border: none; direction: rtl; }
#divSaleAddForm div.plane { margin-left: 15px; width: 610px; }




#divAuth {
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 80%;
    height: 20px;
    background-color: black;
    text-align: right;
    color: white;
    padding: 10px 10%;
}

#divAuth h4 { font-size: 12px; font-weight: normal; color: white; text-align: right; font-style: italic; margin: 0px 0px 5px 0px; float: left; }
#divAuth a { color: white; }

#YMapsID-5038 .YMaps-copyrights {display: none !important; visibility: hidden !important;}

.pager { margin: 0px auto 40px auto; display: block; overflow: hidden;}
#divContentPager { font-size: 150%;text-align: center; }
#divContentPager span.h { font-weight: bold; }
#divContentPager span.small { font-size: 85%; color: silver; }
#divContentPager span.small .a {color: silver; background: transparent;}
#divContentPager span.points { color: #000000; padding: 1px 5px 1px 5px; }
#divContentPager span.step { padding: 0px 0px; }

#divContentPager div { margin: 10px 0px; }
#divContentPager div.page_items { display: inline; margin: 0px 0px; position: relative; }
#divContentPager div a { padding: 1px 10px 1px 10px; }

#divContentPager span.a {color: white; padding: 7px 10px; display: inline-block; border-radius: 50px; background: #F26121; }
#divContentPager div.left { display: inline; padding: 0px 2px 0px 0px; margin: 0px; text-align: left;}
#divContentPager div.right { display: inline; padding: 0px 0px 0px 2px; margin: 0px; text-align: right;}



div.sliderContainer { float: left; position: relative; top: 0px; left: 0px; overflow: hidden; width: 900px !important; height: 333px; }
div.slider { width: 100%; height: 100%; }
div.slider div.slide { width: 900px; height: 333px; display: block; float: left; cursor: pointer; margin: 0px 0px; min-width: 900px; }
div.slider div.slide div.grid_4 { width: 208px !important; }

.admin {display: block; overflow: hidden; margin: 30px 0 10px 0;}

.info_error {
    padding: 3px;
    background-color: #EDCCCC;
    border: 1px solid #BDBDBD;
}
.info_ok {
    padding: 3px;
    border: 1px solid #BDBDBD;
    background-color: #CCEDD8;
}
.form_edit_announcement dl dt{
    float: left;
}
.a_list tbody tr td{
    padding: 3px;
    border: solid 1px rgb(221, 231, 255);
    background-color: #f2f2eb;
}
.a_list thead tr td{
    border: solid 1px rgb(221, 231, 255);
    background-color: #c5f0ff;
}
.a_list_wrap {
    overflow: auto;
}
